body {
    background-color: rgb(188, 209, 193);
}

.container {
    border-radius: 20px;
    border: 2px solid black;
    padding: 20px;
    background-color: rgb(101, 133, 101);
}

a {
    color: rgb(118, 25, 25);
    text-decoration: none;
    font-weight: bold;
}

img {
    width: 300px;
    height: auto;
    border-radius: 15px;
}
h1 {
    color: white;
    text-align: center;
}
